<style>
    .my-view
    {
        padding-top: 5%;
    }

</style>

<div class="navbar navbar-fixed-top">
    <h1 style="padding-left: 2%">Opportunities Reports</h1>
</div>

<div style="width: 100%; height: 100%; background-color: #FFFFFF">
    
    <h1 style="font-size: 18px; padding-left: 2%">Closed Won Opportinities</h1>
    
    <div style="width: 20%; border: solid 2px">
        <div style="border-bottom: 1px solid">
            name
        </div>
        <div style="border-bottom: 1px solid">
            description
        </div>
        <div>
            date_closed
        </div>
    </div>

</div>

{{#with myData}}{{myProperty}}{{/with}}